*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-image: url(https://images.pexels.com/photos/1407325/pexels-photo-1407325.jpeg?auto=compress&cs=tinysrgb&w=600);
    display: flex;
    align-items: center;
    justify-content: center;
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: 	  #ffff99;
    margin: 10px;

}
.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color: #000000;
}
.quote
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.author 
{

    margin:10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.next
{
    font-size:18px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(100, 0, 0), #993300);
}
.container:hover
{
    box-shadow: 0 10px 10px rgb(230, 0, 0);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.play-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999; 
    background-color: #3498db; 
    color: #fff; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.play-button i {
    margin-right: 5px;
}


.play-button:hover {
    background-color: #2980b9; 
}



audio {
    width: 50px; 
    max-width: 100%; 
    
}


.play-audio {
    font-size: 14px; 
    padding: 5px 10px; 
 
}
