*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image:url(https://images.pexels.com/photos/1407325/pexels-photo-1407325.jpeg);
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    
}
.to-doapp{
    width: 100%;
    max-width: 540px;
    background: 

 #808080;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-doapp h2{
    color: #e6e6e6;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.to-doapp h2 img{
    width: 30px;
    margin-left: 10px;    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:   #ffff99;
    color: #094428;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url();
    background-size: cover;
    background-position: center;    
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#ffffff;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-vector%2Flist-template-with-kawaii-bee-flowers-cute-design-schedule-daily-planner-checklist_26147969.htm&psig=AOvVaw3bmqjpiNCAK9MnI-SelPtU&ust=1709822170168000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNjg7obu34QDFQAAAAAdAAAAABAE);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;    
    font-size: 22px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #4c9453;
}
